version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: neofinance_db
    ports:
      - "5435:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: neofinance
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: